@page "/{UtlCategoria}"
@using global::Shared.Models


@inject HttpClient httpClient


@if (categoria != null)
{
    <h2>Bienvenido a la seccion de @categoria.NombreCategoria del Hogar Macorisano</h2>
    <ProyectoEcommerceAP1.Components.Account.Pages.ComponenteCatalogoProductos CategoriaId="@categoria.CategoriaId" />

}

@code
{
    [Parameter]
    public string UtlCategoria { get; set; }

    private Categorias categoria { get; set; } = new Categorias();

    public List<Categorias> categorias { get; set; }



    protected override async Task OnParametersSetAsync()
    {
        await CargarCategorias();
        if (UtlCategoria != null)
        {
            categoria = categorias.FirstOrDefault(c => c.Url.ToLower().Equals(UtlCategoria.ToLower()));
        }

        if (UtlCategoria == null)
        {
            categoria = null;
        }
    }

    private async Task CargarCategorias()
    {
        try
        {
            categorias = await httpClient.GetFromJsonAsync<List<Categorias>>("api/Categorias");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al cargar las categorías: {ex.Message}");
        }
    }
}