@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Olvidé la confirmación de contraseña</PageTitle>

<h1>Olvidé la confirmación de contraseña</h1>
<p>
    Por favor revisa tu correo electrónico para restablecer tu contraseña.
</p>
