@page "/Account/InvalidPasswordReset"

<PageTitle>Restablecimiento de contraseña no válida</PageTitle>

<h1>Restablecimiento de contraseña no válida</h1>
<p>
    El enlace para restablecer la contraseña no es válido.
</p>
